/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
}

.advanced-search-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.advanced-search-page-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  font-size: 1.45rem;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}

/* Main Content */
.advanced-search-page-main-content {
  display: flex;
  flex-grow: 1;
}

/* Left Panel */
.advanced-search-page-left-panel {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  border-right: 5px double var(--main-accent-color-alt);
  background-color: var(--bg-panel-color);
}
/* Filtering category */
.advanced-search-page-filter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 10px;
}

.advanced-search-page-filter-name {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "wdth" 75;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  color: var(--text-color);
}

/* Filtering categories and subcategories */
.advanced-search-page-filter-list {
  list-style: none;
  padding: 5px;
  background: var(--subcat-filter-box);
  border: #171717 0.5px solid;
}

.advanced-search-page-filter-has-submenu {
  position: relative;
  margin-left: 5px;
  padding: 2px;
  font-size: 0.75rem;
  letter-spacing: 0.01rem;
}

.label-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  color: #171717;
  padding: 1px;
}

.submenu-arrow {
  color: #3b4a4d;
}

.input-checkbox {
  display: none;
}

.custom-box {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 5px;
  background-color: var(--inner-check-box);
  border: 0.5px solid #171717;
  position: relative;
  flex-shrink: 0;
}

.input-checkbox:checked + .custom-box::after {
  content: "✕";
  color: #db6443;
  font-size: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-checkbox:checked + .custom-box + .checkbox-text {
  color: var(--text-color-check);
}

/* .input-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  appearance: none; 
} */

.input-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  appearance: none;
}

.advanced-search-page-filter-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -10rem;
  padding: 5px;
  list-style: none;
  background-color: var(--subcat-filter-box);
  border: #000000 0.5px solid;
  min-width: 8rem;
  z-index: 10;
}

.advanced-search-page-filter-submenu li {
  margin: 1px;
}

.advanced-search-page-no-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -10rem;
  padding: 5px;
  list-style: none;
  background-color: var(--subcat-filter-box);
  border: #000000 0.5px solid;
  min-width: 8rem;
  z-index: 10;
}

.advanced-search-page-no-submenu li {
  margin: 1px;
}

/* Right Panel */
.advanced-search-page-right-panel {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
}

.advanced-search-page-right-panel .advanced-search-page-tags {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.advanced-search-page-tags-label {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 0.825rem;
  color: var(--text-color);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-style: italic;
  font-variation-settings: "wdth" 75;
}

.advanced-search-page-search-bar {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.advanced-search-page-search-bar-label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.825rem;
  color: var(--text-color);
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  margin-left: 0.125rem;
}

.advanced-search-page-tags .food-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.825rem;
  color: var(--text-color);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-style: italic;
  font-variation-settings: "wdth" 75;
}

.advanced-no-tags-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.825rem;
  color: var(--text-color);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-style: italic;
  font-variation-settings: "wdth" 75;
}
