/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Content */
.home-page-main-content {
  display: flex;
  flex-grow: 1;
}

/* Left Panel */
.home-page-left-panel {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-right: 5px double var(--main-accent-color-alt);
  background-color: var(--bg-color);
}

.home-page-left-panel-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 87.5;
  letter-spacing: 0.2rem;
  color: var(--text-color-alt);
  font-size: 1.75rem;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
}

.home-page-right-panel-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 87.5;
  letter-spacing: 0.2rem;
  color: var(--text-color);
  font-size: 1.75rem;
  margin-top: 4rem;
  margin-bottom: 1.25rem;
}

.shared-content-wrapper {
  max-width: 41.5rem;
  margin: 0 auto;
  width: 100%;
}

.home-page-left-panel-search-div,
.home-page-left-panel-browse-div {
  align-items: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-page-left-panel-subtitles {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.45rem;
  color: var(--text-color);
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-page-left-panel-advanced-search {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 0.7rem;
}

.home-page-left-panel-advanced-search-reg {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings: "wdth" 75;
  font-size: 0.75rem;
  color: var(--text-color-alt);
}

.home-page-left-panel-advanced-search-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "wdth" 75;
  font-size: 0.9rem;
  color: var(--text-color-alt);
}

/* Right Panel */
.home-page-right-panel {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-panel-color);
}
/* .browse-blocks-container {
  display: grid;
  grid-template-columns: repeat(5, 7.5rem);
  gap: 1rem;
  justify-content: center;
} */
 
.home-page-right-panel-mini-module {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}


.home-page-right-panel-module {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 2rem;
}

/* Footer */
.home-page-footer {
  background-color: var(--minor-accent-color-2b);
  text-align: center;
  padding: 10px 20px;
  border-top: 10px solid var(--main-accent-color-alt);
}



@media (min-width: 0em) and (max-width: 36em) {
  .home-page-footer {
    background-color: blue;
  }
  .home-page-main-content {
  display: flex;
  flex-flow: column wrap;

}

/* Left Panel */
.home-page-left-panel {
 width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-right: 5px double var(--main-accent-color-alt);
  background-color: var(--bg-color);
}

/* Right Panel */
.home-page-right-panel {
   width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-panel-color);
}

}

@media (min-width: 36.063em) and (max-width: 54em) {
  .home-page-footer {
    background-color: chartreuse;
  }

  .home-page-main-content {
  display: flex;
  flex-flow: column wrap;
}

/* Left Panel */
.home-page-left-panel {
 width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-right: 5px double var(--main-accent-color-alt);
  background-color: var(--bg-color);
}

/* Right Panel */
.home-page-right-panel {
   width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-panel-color);
}

}

@media (min-width: 54.063em) and (max-width: 68em) {
  .home-page-footer {
    background-color: magenta;
  }

  .home-page-main-content {
  display: flex;
  flex-flow: column wrap;
}

/* Left Panel */
.home-page-left-panel {
 width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-right: 5px double var(--main-accent-color-alt);
  background-color: var(--bg-color);
}

/* Right Panel */
.home-page-right-panel {
   width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-panel-color);
}

.home-page-right-panel-mini-module {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
}


}

@media (min-width: 68.063em) and (max-width: 80em) {
  /* Large: 1089-1280px */
}

@media (min-width: 80.063em) and (max-width: 93.75em) {
  /* Extra Large: 1281-1500px */
}

@media (min-width: 93.813em) {
  /* Extra Extra Large: 1501px+ */
}
  .home-page-footer {
    background-color: orange;
  }
