/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2e2ce;
  padding: 5px 10px;
  border-bottom: 5px solid #528082;
}

.home-page-logo {
  width: auto;
  height: 5.25vh;
  max-width: 100%;
  object-fit: contain;
}

.home-page-user-dropdown select {
  padding: 5px;
  font-size: 1rem;
}

/* Main Content */
.home-page-main-content {
  display: flex;
  flex: 1;
}

/* Left Panel */
.home-page-left-panel {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: rgb(242, 226, 206, 0.15);
}

.home-page-right-panel-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 50;
  letter-spacing: 0.2rem;
  color: #528082;
  margin-top: 2rem;
}

.home-page-left-panel-search-div,
.home-page-left-panel-browse-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.home-page-left-panel-subtitles {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  color: black;
  margin-bottom: 1.2rem;
}

.home-page-left-panel-advanced-search {
  display: flex;
  gap: 7px;
  margin-top: 7px;
}

.home-page-left-panel-advanced-search-reg {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
}

.home-page-left-panel-advanced-search-bold {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: italic;
  font-weight: 550;
  font-size: 14px;
  letter-spacing: 0.05rem;
}

/* Right Panel */
.home-page-right-panel {
  flex: 4;
  padding: 20px;
  background-color: #f2e2ce;
}

/* Footer */
.home-page-footer {
  background-color: #3b4a4d;
  text-align: center;
  padding: 10px 20px;
  border-top: 10px solid #528082;
}
