body,
html {
  margin: 0;
  padding: 0;
}

.recipe-page {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.recipe-page h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.095rem;
  margin-top: 5.25rem;
  margin-bottom: 3.75rem;
}

.recipe-page-panel-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-panel-color);
}

.recipe-page .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-page-like-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.recipe-page .top .small {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.05rem;
}

.recipe-page .top .small h6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.recipe-page .top .small h6 .bold,
.recipe-page .top .small h6 .reg {
  line-height: 1.2;
  vertical-align: baseline;
  margin: 0.5 0rem;
}

.recipe-page .top .small h6 .bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--text-color);
  letter-spacing: 0.045rem;
  text-transform: uppercase;
}

.recipe-page .top .small h6 .reg {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  color: var(--text-color);
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}

.recipe-page .top .headline {
  margin-bottom: 3.25rem;
  width: 90%;
}

.recipe-page .top .headline p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.95rem;
  color: var(--text-color);
  text-align: center;
  line-height: 1.2;
}

.recipe-page .top .image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 325px;
  margin-bottom: 3rem;
  border: 1.25px solid var(--main-accent-color-alt);
  background-color: var(--text-color);
}

.recipe-page .top .image .main-image {
  width: 40%;
  height: 87.5%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  background-color: var(--text-color);
}

.recipe-page .top .image .side-image {
  width: 30%;
  height: 87.5%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  background-color: var(--text-color);
}

.recipe-page .middle .recipe-notes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  margin-bottom: 3rem;
}

.recipe-page .middle .recipe-notes .left {
  width: 45%;
  padding: 1rem;
  border-right: 5px double var(--main-accent-color-alt);
}

.recipe-page .middle .recipe-notes .user-rating-line {
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.recipe-page .middle .recipe-notes .user-rating-line .text {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.875rem;
  color: var(--text-color);
  letter-spacing: -0.005rem;
  text-transform: uppercase;
  justify-content: flex-start;
  line-height: 1.25;
  margin-right: 0.5rem;
}


/* Custom styles for StarRating only on the recipe page */

.recipe-page .star-rating {
  font-size: 1rem;
  line-height: 1.5;
}

.recipe-page .star-layout {
  visibility: hidden;
  font-size: 1rem;
  letter-spacing: 0.13rem;
  user-select: none;
}

.recipe-page .star-layer {
  position: absolute;
  top: -0.275rem;
  left: -0.25rem;
  width: 100%;
  pointer-events: none;
  white-space: nowrap;
}

.recipe-page .star-background-bottom {
  color: var(--minor-accent-color-1);
  z-index: 0;
  font-size: 1.25rem;
}

.recipe-page .star-background-top,
.recipe-page .star-overlay {
  z-index: 1;
  top: -0.0875rem;
  left: -0.155rem;
  font-size: 1.05rem;
  letter-spacing: 0.2rem;
  color: var(--star-coloring);
}

.recipe-page .star-overlay {
  z-index: 2;
  overflow: hidden;
  color: var(--minor-accent-color-1);
}

.recipe-page .rating-number {
  margin-left: 0.5rem;
  width: auto;
}

.recipe-page .middle .recipe-notes .left .rate {
  display: flex;
  flex-direction: row;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 0.015rem;
  margin-left: 0.75rem;
}

.recipe-page .no-rating {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 87.5;
  font-style: italic;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.recipe-page .middle .recipe-notes .left h5 .sect.hidden {
  display: none;
}

.recipe-page .middle .recipe-notes .left .tags-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
}

.recipe-page .middle .recipe-notes .right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 45%;
  padding: 1rem;
}

.recipe-page .middle .recipe-notes .right h6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.recipe-page .middle .recipe-notes .right .times,
.recipe-page .middle .recipe-notes .right .serves {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-page .middle .recipe-notes .right .serves {
  margin-left: 1.5rem;
}

.recipe-page .middle .recipe-notes .right .timer-icon,
.recipe-page .middle .recipe-notes .right .cutlery-icon,
.recipe-page .middle .recipe-notes .right .measure-icon {
  width: 16px;
  height: 16px;
  border-radius: 10%;
  object-fit: contain;
  line-height: 1;
}

.recipe-page .middle .recipe-notes .right h6 .bold {
  margin-left: auto;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.875rem;
  color: var(--text-color);
  letter-spacing: -0.005rem;
  text-transform: uppercase;
  margin-left: 0.15rem;
}

.recipe-page .middle .recipe-notes .right h6 .reg {
  margin-left: 0;
  text-align: left;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 0.015rem;
  margin-left: 0.15rem;
}

.recipe-page .middle .recipe-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 1rem;
}

.recipe-page .middle .recipe-details .left {
  width: 45%;
  padding: 1rem;
}

.recipe-page .middle .recipe-details .left h4 {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.05rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 0.95rem;
}

.recipe-details .left ul {
  list-style-type: disc;
  padding-left: 0.5rem;
}

.recipe-details .left ul li {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: var(--text-color);
  padding-left: 0.75em;
  letter-spacing: 0.015rem;
}

.recipe-details .left ul li::marker {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.5rem;
  color: var(--text-color);
}

.recipe-details .right ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.recipe-details .right ol li {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: var(--text-color);
  padding-left: 0.25em;
  letter-spacing: 0.015rem;
  margin-bottom: 0.75rem;
}

.recipe-details .right ol li::marker {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--text-color-check);
  text-transform: uppercase;
  letter-spacing: 0.015rem;
}

.recipe-page .middle .recipe-details .right {
  width: 45%;
  padding: 1rem;
}

.recipe-page .middle .recipe-details .right h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.05rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 0.95rem;
}

.recipe-page .middle .recipe-details .right p {
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: var(--text-color);
  padding-left: 0.75em;
  letter-spacing: 0.015rem;
  margin-bottom: 1.25rem;
}

.recipe-page .bottom {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-page .bottom .author-notes {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 1.75rem;
  border-top: 5px double var(--main-accent-color-alt);
}

.recipe-page .bottom .author-notes h3 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.recipe-page .bottom .author-notes p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.95rem;
  color: var(--text-color-alt);
  margin-bottom: 0.5rem;
  padding: 0 2rem;
}

.recipe-page .bottom .author-notes .author-notes-true {
  margin-right: 0.5rem;
}

.recipe-page .bottom .reviews {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-page .bottom .reviews h4 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.recipe-page .bottom .reviews h6 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--text-color-alt);
  margin-bottom: 1.5rem;
}

.recipe-page .bottom .reviews p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.95rem;
  color: var(--text-color-alt);
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.recipe-page .bottom .reviews .review-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.recipe-page .bottom .reviews .review-small .reg {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 87.5;
  font-style: normal;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  margin-right: 0.5rem;
  text-transform: uppercase;
}

.recipe-page .bottom .reviews .review-small .bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.recipe-page .bottom .reviews .reviews-true {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.75rem;
  margin-bottom: 2.5rem;
}

.recipe-page .bottom .reviews .reviews-true .review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem;
  background-color: var(--bg-color-2);
  border: 5px solid var(--bg-panel-color);
  width: 100%;
}

.recipe-page .bottom .reviews .reviews-true .review-item .reviews-true-person {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipe-page .bottom .reviews .reviews-true .review-item .reviews-true-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.recipe-page .reviews-true-person .reviews-true-username {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.075rem;
  color: var(--text-color);
  text-transform: lowercase;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-avatar-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.75rem;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-date {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
  letter-spacing: 0.075rem;
  color: var(--text-color);
  font-variation-settings: "wdth" 75;
  text-transform: uppercase;
}

.reviews-true-rating,
.reviews-true-comment {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .star-rating {
  font-size: 0.1rem;
  line-height: 1.5;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating.star-layout {
  visibility: hidden;
  font-size: 1rem;
  letter-spacing: 0.13rem;
  user-select: none;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .star-layer {
  position: absolute;
  top: -0.2rem;
  left: 0;
  width: 100%;
  pointer-events: none;
  white-space: nowrap;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .star-background-bottom {
  color: var(--minor-accent-color-1);
  z-index: 0;
  font-size: 1rem;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .star-background-top,
.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .star-overlay {
  z-index: 1;
  top: -0.0875rem;
  left: 0.065rem;
  font-size: 0.875rem;
  letter-spacing: 0.115rem;
  color: var(--star-coloring);
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .star-overlay {
  z-index: 2;
  overflow: hidden;
  color: var(--minor-accent-color-1);
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .rating-number {
  margin-left: 0.5rem;
  width: 100%;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-rating .text-rate {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
  letter-spacing: 0.075rem;
  color: var(--text-color);
  font-variation-settings: "wdth" 75;
  margin-left: -0.025rem;
  text-transform: uppercase;
}

.recipe-page .bottom .reviews .reviews-true .reviews-true-comment {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  margin-top: 0.2rem;
}

.recipe-page .bottom .review-header {
  /* background-color: fuchsia; */
  margin-bottom: -0.5rem;

}

.recipe-page .bottom .reviews .reg.review-first {
  /* background-color: lime; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 75;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  margin-top: -1.5rem;
}

.recipe-page .bottom .reviews .reg.review-reg {
  display: none;
}

.recipe-page .bottom .reviews .review-input {
  background-color: var(--bg-panel-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 1.75rem;
  margin: 1.75rem 0rem;
}


.recipe-page .bottom .reviews .review-input .review-input-label,
.recipe-page .bottom .reviews .comment-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.075rem;
  color: var(--text-color);
  font-variation-settings: "wdth" 75;
  margin-left: -0.025rem;
  text-transform: uppercase;
}

.recipe-page .bottom .reviews .review-input .review-input-label {
  margin-bottom: 1rem;
}

.recipe-page .bottom .reviews .comment-label {
  margin: 1rem 0rem 1.5rem 0rem;
}

.recipe-page .bottom .reviews .review-comment-input {
  background-color: var(--bg-color-alt-3);
  border: 0.25px solid var(--text-color-3-8);
  border-radius: 0.15rem;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.85rem;
  width: 100%;
  height: 6.25rem;
  padding: 0.25rem;
}

.recipe-page .bottom .reviews .submit-review-button {

  align-self: center;
  background-color: var(--minor-accent-color-1);
  color: var(--text-color-invert);
  border: 1.5px solid var(--text-color-alt);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  letter-spacing: 0.075rem;
  font-size: 0.85rem;
  padding: 0.35rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 1.75rem;
}

.recipe-page .bottom .reviews .submit-review-button:hover {
  cursor: pointer;
  background-color: var(--minor-accent-color-2);
  color: var(--accent-color-neutral-white);
  border: 1.5px solid var(--text-color);
}

.recipe-page-footer {
  background-color: var(--minor-accent-color-2b);
  text-align: center;
  margin-top: 2rem;
  padding: 10px 20px;
  border-top: 10px solid var(--main-accent-color-alt);
}

/* ************** */
/* ************** */
/* MEDIA QUERIES */
/* ************** */
/* ************** */

@media (min-width: 0em) and (max-width: 36em) {
  .recipe-page-footer {
    background-color: blue;
  }

  .recipe-page h1 {

    font-size: 1.75rem;
    letter-spacing: 0.095rem;
    margin-top: 5.75rem;
    margin-bottom: 3.95rem;
    padding: 0 1rem;
  }

  .recipe-page .top .small {
    width: 87.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.05rem;
    gap: 0.35rem;
  }

  .recipe-page-like-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .recipe-page .top .image {
    height: 325px;
    margin-bottom: 2.5rem;
    border: 0.95px solid var(--main-accent-color-alt);

  }

  .recipe-page .top .image .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-color: var(--text-color);
  }

  .recipe-page .top .image .side-image {
    display: none;
  }


  .recipe-page .middle .recipe-notes {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .recipe-page .middle .recipe-notes .left,
  .recipe-page .middle .recipe-notes .right {
    width: 90%;
    padding: 1rem;
  }

  .recipe-page .middle .recipe-notes .left {
    border-bottom: 5px double var(--main-accent-color-alt);
    border-right: none;

  }

  .recipe-page .middle .recipe-notes .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
  }

  .recipe-page .middle .recipe-notes .user-rating-line {
    width: 100%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipe-page .middle .recipe-notes .user-rating-line .text {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0.25rem;
  }

  .recipe-page .middle .recipe-notes .left .rate {
    margin-left: 0;
    margin-bottom: 0.25rem;
  }

  .recipe-page .tags {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .recipe-page .no-rating {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 87.5;
    font-style: italic;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 0.25rem;
  }

  .recipe-page .middle .recipe-notes .right h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 0.5rem;
  }

  .recipe-page .middle .recipe-notes .right .times,
  .recipe-page .middle .recipe-notes .right .serves {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .recipe-page .middle .recipe-notes .right .serves {
    margin-left: 0rem;
    margin-top: -1rem;
  }

  .recipe-page .middle .recipe-notes .right .timer-icon,
  .recipe-page .middle .recipe-notes .right .cutlery-icon,
  .recipe-page .middle .recipe-notes .right .measure-icon {
    width: 12px;
    height: 12px;
  }

  .recipe-page .middle .recipe-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.25rem;
    gap: 1rem;
  }

  .recipe-page .middle .recipe-details .left, .recipe-page .middle .recipe-details .right {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }



}

@media (min-width: 36.063em) and (max-width: 54em) {
  .recipe-page-footer {
    background-color: chartreuse;
  }

  .recipe-page h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.85rem;
    letter-spacing: 0.095rem;
    margin-top: 5.75rem;
    margin-bottom: 3.95rem;
    padding: 0 1rem;
  }

  .recipe-page .top .small {
    width: 87.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.05rem;
  }

  .recipe-page .top .image {
    height: 425px;
    margin-bottom: 3.5rem;
    border: 0.95px solid var(--main-accent-color-alt);

  }

  .recipe-page .top .image .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-color: var(--text-color);
  }

  .recipe-page .top .image .side-image {
    display: none;
  }

  .recipe-page .middle .recipe-notes {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.75rem;
    margin-bottom: 3rem;
  }

  .recipe-page .middle .recipe-notes .left,
  .recipe-page .middle .recipe-notes .right {
    width: 90%;
    padding: 1rem;
  }

  .recipe-page .middle .recipe-notes .left {
    border-bottom: 5px double var(--main-accent-color-alt);
    border-right: none;
  }


  .recipe-page .middle .recipe-notes .user-rating-line {
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recipe-page .middle .recipe-notes .user-rating-line .text {
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 0.875rem;
    color: var(--text-color);
    letter-spacing: -0.005rem;
    text-transform: uppercase;
    justify-content: flex-start;
    line-height: 1.25;
    margin-right: 0.25rem;
  }

  .recipe-page .middle .recipe-notes .left .rate {
    display: flex;
    flex-direction: row;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: 0.015rem;
    margin-left: 0.75rem;
  }

  .recipe-page .no-rating {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 87.5;
    font-style: italic;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 0.25rem;
  }

  .recipe-page .tags {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
    .recipe-page .middle .recipe-notes {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.75rem;
    margin-bottom: 0.25rem;
  }
    .recipe-page .middle .recipe-notes .right .timer-icon,
  .recipe-page .middle .recipe-notes .right .cutlery-icon,
  .recipe-page .middle .recipe-notes .right .measure-icon {
    width: 12px;
    height: 12px;
  }

}

@media (min-width: 54.063em) and (max-width: 68em) {
  .recipe-page-footer {
    background-color: magenta;
  }

  .recipe-page h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.925rem;
    letter-spacing: 0.095rem;
    margin-top: 5.5rem;
    margin-bottom: 3.85rem;
  }

  .recipe-page .top .image {
    height: 375px;
    margin-bottom: 3.25rem;
    border: 1.1px solid var(--main-accent-color-alt);

  }

  .recipe-page .top .image .main-image {
    width: 50%;
    height: 92.5%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-color: var(--text-color);
  }

  .recipe-page .top .image .side-image {
    width: 25%;
    height: 92.5%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-color: var(--text-color);
  }
  .recipe-page .middle .recipe-notes .left {
    width: 40%;
    padding: 1rem;
  }

  .recipe-page .middle .recipe-notes .right {
    width: 50%;
    padding: 1rem;
  }
}

@media (min-width: 68.063em) and (max-width: 80em) {
  .recipe-page-footer {
    background-color: indigo;
  }

  .recipe-page h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.925rem;
    letter-spacing: 0.095rem;
    margin-top: 5.5rem;
    margin-bottom: 3.85rem;
  }

  .recipe-page .top .image {
    height: 375px;
    margin-bottom: 3.25rem;
    border: 1.1px solid var(--main-accent-color-alt);

  }

  .recipe-page .top .image .main-image {
    width: 50%;
    height: 92.5%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-color: var(--text-color);
  }

  .recipe-page .top .image .side-image {
    width: 25%;
    height: 92.5%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-color: var(--text-color);
  }
}