body,
html {
  margin: 0;
  padding: 0;
}

.profile-page h1.profile-page-panel-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.65rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.225rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.profile-page h2.profile-page-panel-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.profile-page h3.profile-page-panel-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.15rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.profile-page {
  display: flex;
  flex-direction: column;
  /* background-color: var(--bg-color); */
  background-color: red;
  min-height: 100vh;
}

.profile-page-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: blue;
}

.profile-page-panel-title {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
}

.profile-top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: flex-start;
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: aqua;
}


.profile-top-panel-container-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 5px double var(--main-accent-color-alt);
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  background-color: orange;
}

.profile-top-panel .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  margin-left: 0.75rem;
}

.profile-top-panel .box1 {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-top-panel .box2 {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-top-panel-container-left>h2,
.profile-top-panel-container-right>h2 {
  width: 100%;
  text-align: center;
}

.profile-image {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 12.5%;
  object-fit: cover;
  border: 0.75px solid var(--main-accent-color-alt);
}

.profile-top-panel .avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background-color: lightpink;
}

.profile-top-panel .info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  padding: 0.25rem;
  background-color: grey;
}

.profile-top-panel .info-new {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  background-color: lightsalmon;
}

.profile-top-panel .desc-bold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15rem;
  display: block;
}

.profile-top-panel .desc-reg {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;
  max-width: 12rem;
  display: block;
}

.desc-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  margin-bottom: -0.35rem;
}

.desc-row.dietary-desc-row {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.dietary-list {
  margin: 0.25rem 0 0 0;
  padding-left: .75rem;
  list-style: none;
}

.dietary-list-item {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;
  margin: -0.125rem 0rem 0rem 0rem;
}

.dietary-list-item::before {
  content: "•";
  position: absolute;
  left: -0.75rem;
  top: 0.35rem;
  color: var(--text-color);
  font-size: 0.65rem;
  line-height: 1.1;
}

.dietary-list li::marker {
  font-size: 0.5rem;
  color: var(--text-color);
  margin-left: 2rem;
}

.spacer-medium {
  height: 0.25rem;
  width: 100%;
}

.spacer-small {
  height: 0.125rem;
  width: 100%;
}

.personal-preferences-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: -0.5rem;
}

.personal-preferences-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--main-accent-color-alt);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.edit-toggle-link {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--main-accent-color-alt);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin: 0;
}

.edit-user-info-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin: 0.25rem;
  transform: translateY(-0.35rem);
}

.desc-row.dietary-desc-row .edit-user-info-form {
  flex-direction: column;
}

.profile-top-panel .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: pink;
}

.profile-top-panel .rb2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  background-color: magenta;
}

.profile-top-panel .rb {
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin-left: 1.75rem;
  gap: 1.5rem;
  background-color: teal;
}

.profile-top-panel-container-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  background-color: purple;
}

.user-button-container {
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.user-radio .button-radio-btn {
  border: none;
  margin: 0;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.825rem;
}

.user-radio .button-radio-btn:hover {
  background-color: var(--subcat-filter-box-half);
}

.user-radio .button-radio-btn.selected {
  font-weight: 600;
  border: none;
  margin: 0;
  cursor: pointer;
}

/* .desc-row.dietary-desc-row .user-button-container {
  background-color: lightpink;
} */

.edit-user-info-form .desc-reg {
  background-color: var(--main-accent-color-alt);
  border: 1.75px solid var(--minor-accent-color-2b);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color-invert);
  font-size: 0.775rem;
  padding: 0.125rem 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 12rem;
}

.desc-row.dietary-desc-row .edit-user-info-form .desc-reg {
  margin-left: -0.25rem;
  min-width: 24rem;
  min-height: 5rem;
  white-space: pre-line;
  line-height: 1.2;
}


.edit-user-info-save {

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--text-color-alt);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.edit-user-info-cancel {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--minor-accent-color-3);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.avatar-upload-form {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1.75rem;
  margin-bottom: 1rem;
}

.avatar-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  margin-left: 1.75rem;
}

.avatar-upload-input {
  width: 100%;
  min-height: unset;
  margin-bottom: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;

}

.avatar-upload-btn {
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  color: var(--text-color);
  font-size: 0.80rem;

  cursor: pointer;
}

.avatar-upload-filename {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: var(--main-accent-color-alt);
  word-break: break-all;
  background: none;
  text-align: center;
  width: 100%;
}

.micro-desc {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: -0.35rem;
  margin-top: 0rem;
}

.micro-bold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.65rem;
}

.micro-reg {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.55rem;
}

.micro-div {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 0.025rem;
  color: var(--star-coloring);
  font-size: 0.55rem;
}

.saves,
.likes,
.submit {
  width: 12px;
  height: 12px;
  border-radius: 10%;
  object-fit: cover;
}

.user-page-toggle-link {
  cursor: pointer;
  text-align: right;
  margin: 0;
}

.user-page-toggle-link:hover {
  text-decoration: underline;
}

.user-page .edit-pencil-icon {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 10;
}

.edit-pencil-link {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;
}

.user-page-liked-flag-wrapper {
  position: relative !important;
}

.profile-page .x-flag {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
}

.profile-page .x-icon-tab {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border-radius: 0;
}

.profile-bottom-panel {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 5px double var(--main-accent-color-alt);
  margin-bottom: 4.5rem;
}

.profile-page-panel-desc {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  font-size: 0.85rem;
  margin-top: 40px;
}

.account-delete-button {
  background-color: var(--error-delete-color);
  color: var(--main-accent-color);
  border: 1.5px solid var(--text-color-check);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  letter-spacing: 0.075rem;
  font-size: 0.85rem;
  padding: 0.35rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0.5rem auto;
  cursor: pointer;
}

.account-delete-button:hover {
  background-color: var(--error-delete-color-invert);
  color: var(--text-color-check);
  border: 1.5px solid var(--error-delete-color);
  cursor: pointer;
}

.user-page-toggle-link {
  cursor: pointer;
  text-align: right;
  margin: 0;
}

.user-page-toggle-link:hover {
  text-decoration: underline;
}

.user-page-submitted-panel-cards,
.user-page-liked-panel-cards {
  display: flex;
  width: 98%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 0.75rem;
}

.user-page-no-recipes-found {
  font-family: "Work Sans", sans-serif;
  max-width: 100%;
  font-weight: 400;
  color: var(--text-color);
  font-size: 0.95rem;
  letter-spacing: -0.02rem;
  text-align: center;
}

.user-page-liked-flag-wrapper {
  position: relative !important;
}


.user-page-submitted-panel-heading,
.user-page-liked-panel-heading {
  display: flex;
  width: 98%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
  margin-bottom: 1.75rem;
  gap: 1rem;
}

.user-page-submitted-panel-heading h3,
.user-page-liked-panel-heading h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.05rem;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: -0.5rem;
  letter-spacing: 0.075rem;
}

.user-page-submitted-panel-heading h6,
.user-page-liked-panel-heading h6 {
  margin-bottom: -0.95rem;

}

.user-page-submitted-panel-heading h6 .bold,
.user-page-liked-panel-heading h6 .bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-variation-settings: "wdth" 87.5;
  font-size: 0.85rem;

}

.user-page-submitted-panel-heading h6 .reg,
.user-page-liked-panel-heading h6 .reg {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;
}

.recipe-box-image {
  width: 7rem;
  height: 7rem;
  border-radius: 0%;
  object-fit: contain;
  background-color: var(--bg-color);
}

.user-page-submitted-panel-2 {
  background-color: white;
}

.user-page-submitted-panel-2,
.user-page-liked-panel-2 {
  background-color: black;
}

.profile-page-footer {
  background-color: var(--minor-accent-color-2b);
  text-align: center;
  padding: 10px 20px;
  border-top: 10px solid var(--main-accent-color-alt);
}

@media (min-width: 0em) and (max-width: 36em) {
  .home-page-footer {
    background-color: blue;
  }

  .profile-top-panel {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .profile-top-panel-container-left {
    width: 100%;

    border-right: 0px;
    border-bottom: 5px double var(--main-accent-color-alt);
    padding-right: 0rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    background-color: orange;
  }

  .profile-top-panel .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left: 0rem;
  }

  .profile-top-panel .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: green;
  }


  .profile-top-panel .info-new {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
  }

  .profile-top-panel .box1 {
    background-color: yellow;
    width: 100%;
  }

  .profile-top-panel .box2 {
    background-color: purple;
    width: 100%;
  }

  .profile-top-panel-container-right {
    width: 100%;

    padding-bottom: 0rem;
    margin-bottom: 0rem;
    background-color: purple;
  }

}

@media (min-width: 36.063em) and (max-width: 54em) {
  .profile-top-panel {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .profile-top-panel {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .profile-top-panel-container-left {
    width: 100%;

    border-right: 0px;
    border-bottom: 5px double var(--main-accent-color-alt);
    padding-right: 0rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    background-color: orange;
  }

  .profile-top-panel .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-left: 0rem;
  }

  .profile-top-panel .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: red;
  }


  .profile-top-panel .info-new {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
  }

  .profile-top-panel .box1 {
    background-color: yellow;
    width: 100%;
  }

  .profile-top-panel .box2 {
    background-color: purple;
    width: 100%;
  }


  .profile-top-panel-container-right {
    width: 100%;

    padding-bottom: 0rem;
    margin-bottom: 0rem;
    background-color: purple;
  }
}


@media (min-width: 54.063em) and (max-width: 68em) {

  .profile-top-panel {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .profile-top-panel {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .profile-top-panel-container-left {
    width: 100%;

    border-right: 0px;
    border-bottom: 5px double var(--main-accent-color-alt);
    padding-right: 0rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    background-color: orange;
  }

  .profile-top-panel .left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: green;
    margin-left: 0rem;
  }

  .profile-top-panel .info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding-left: 0rem;
    margin-bottom: 0rem;
    background-color: lime;
  }


  .profile-top-panel .info-new {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .profile-top-panel .rb2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    background-color: magenta;
  }

  .profile-top-panel .rb {
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin-left: 0rem;
    gap: 0rem;
    background-color: teal;
  }

  .recipe-box-image {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0.5rem;
    margin-right: 0.75rem;
  }

  .profile-top-panel .info-new {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
    background-color: lightsalmon;
  }

  .profile-top-panel .info-new .desc-reg,
  .profile-top-panel .info-new .desc-bold {
    text-align: left;
  }

  .box1 {
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-top-panel .box2 {
    background-color: purple;
    width: 60%;
    align-items: flex-start;
  }

  .profile-image {
    width: 8.75rem;
    height: 8.75rem;
  }

  .profile-top-panel-container-right {
    width: 100%;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    background-color: purple;
  }
}