body,
html {
  margin: 0;
  padding: 0;
}

.profile-page h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.65rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.225rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.profile-page h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.profile-page h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.15rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.profile-page {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.profile-page-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.profile-page-panel-title {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
}

.profile-top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: flex-start;
  width: 87.5%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.profile-top-panel .left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1.75rem 0.25rem 0rem 0.25rem;
  margin-right: 3.75rem;
}

.profile-top-panel-container-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 5px double var(--main-accent-color-alt);
  padding-bottom: 0rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

.profile-top-panel .right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1.75rem 0.25rem 0rem 0.25rem;
}

.profile-top-panel-container-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
}

.profile-top-panel-container-left>h2,
.profile-top-panel-container-right>h2 {
  width: 100%;
  text-align: center;
}

.profile-image {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 12.5%;
  object-fit: cover;
  border: 1.5px solid var(--main-accent-color-alt);
}

.profile-top-panel .avatar {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1.75rem;
}

.profile-top-panel .info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  padding: 0.15rem;
}

.profile-top-panel .desc-bold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15rem;
  display: block;
}

.profile-top-panel .desc-reg {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;
  max-width: 12rem;
  display: block;
}

.desc-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  margin-bottom: -0.65rem;
}

.desc-row.dietary-desc-row {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.dietary-list {
  margin: 0 0 0.25rem 0;
  padding-left: .75rem;
  list-style: none;
}

.dietary-list-item {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;
  margin: -0.125rem 0rem 0rem 0rem;
}

.dietary-list-item::before {
  content: "•";
  position: absolute;
  left: -0.75rem;
  top: 0.35rem;
  color: var(--text-color);
  font-size: 0.65rem;
  line-height: 1.1;
}

.dietary-list li::marker {
  font-size: 0.5rem;
  color: var(--text-color);
  margin-left: 2rem;
}

.spacer-quarter {
  height: 0.25rem;
  width: 100%;
}

.spacer-eighth {
  height: 0.125rem;
  width: 100%;
}

.personal-preferences-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: -0.5rem;
}

.personal-preferences-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--main-accent-color-alt);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}


.edit-toggle-link {

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--main-accent-color-alt);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.edit-user-info-form {
  display: flex;
  flex-direction: row;

  gap: 0.5rem;
  align-items: center;
  margin: 0.25rem;
  transform: translateY(-0.35rem);
}

.desc-row.dietary-desc-row .edit-user-info-form {
  flex-direction: column;
}

.user-button-container {
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
}




.user-radio .button-radio-btn {
  border: none;
  margin: 0;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
   font-size: 0.825rem; 
}



.user-radio .button-radio-btn:hover {
 background-color:  var(--subcat-filter-box-half);
}


.user-radio .button-radio-btn.selected {
  font-weight: 600;
  border: none;
  margin: 0;
  cursor: pointer;

 
}

/* .desc-row.dietary-desc-row .user-button-container {
  background-color: lightpink;
} */

.edit-user-info-form .desc-reg {
  background-color: var(--main-accent-color-alt);
  border: 1.75px solid var(--minor-accent-color-2b);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color-invert);
  font-size: 0.775rem;
  padding: 0.125rem 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 12rem;
}

.desc-row.dietary-desc-row .edit-user-info-form .desc-reg {
  margin-left: -0.25rem;
  min-width: 24rem;
  min-height: 5rem;
  white-space: pre-line;
  line-height: 1.2;
}


.edit-user-info-save {

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--text-color-alt);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.edit-user-info-cancel {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--minor-accent-color-3);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.avatar-upload-form {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1.75rem;
  margin-bottom: 1rem;
}

.avatar-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  margin-left: 1.75rem;
}

.avatar-upload-input {
  width: 100%;
  min-height: unset;
  margin-bottom: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.90rem;

}

.avatar-upload-btn {
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  color: var(--text-color);
  font-size: 0.80rem;

  cursor: pointer;
}

.avatar-upload-filename {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: var(--main-accent-color-alt);
  word-break: break-all;
  background: none;
  text-align: center;
  width: 100%;
}

.micro-desc {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: -0.5rem;
}

.micro-bold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.65rem;
}

.micro-reg {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  font-size: 0.55rem;
}

.micro-div {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 0.025rem;
  color: var(--star-coloring);
  font-size: 0.55rem;
}

.saves,
.likes,
.submit {
  width: 12px;
  height: 12px;
  border-radius: 10%;
  object-fit: cover;
}

.profile-bottom-panel {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 5px double var(--main-accent-color-alt);
  margin-bottom: 4.5rem;
}

.profile-page-panel-desc {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: var(--text-color);
  font-size: 0.85rem;
  margin-top: 40px;
}

.profile-page-footer {
  background-color: var(--minor-accent-color-2b);
  text-align: center;
  padding: 10px 20px;
  border-top: 10px solid var(--main-accent-color-alt);
}

@media (min-width: 0em) and (max-width: 36em) {
  .home-page-footer {
    background-color: blue;
  }
}

@media (min-width: 36.063em) and (max-width: 54em) {
  .home-page-footer {
    background-color: chartreuse;
  }
}

@media (min-width: 54.063em) and (max-width: 68em) {
  .home-page-footer {
    background-color: magenta;
  }
}

@media (min-width: 68.063em) and (max-width: 80em) {
  .home-page-footer {
    background-color: orange;
  }
}