/* color-palette */

.neutral-black {
  color: #171717;
  background-color: rgba(23, 23, 23, 1);
}

.neutral-white {
  color: #f5f5f5;
  background-color: rgba(245, 245, 245, 1);
}

.neutral-Dark_Charcoal {
  color: #2c2d2d;
  background-color: rgba(44, 45, 45, 1);
}

.CS_Warm-Light {
  color: #f2e2ce;
  background-color: rgb(242, 226, 206, 1);
}

.CS_Warm-Medium {
  color: #528082;
  background-color: rgba(82, 128, 130, 1);
}

.CS_Warm-Dark {
  color: #3b4a4d;
  background-color: rgba(59, 74, 77, 1);
}

.CS-Warm-Second_1 {
  color: #db6443;
  background-color: rgba(219, 100, 67, 1);
}

.CS-Warm-Second_2 {
  color: #f8da70;
  background-color: rgba(248, 218, 112, 1);
}

/* in-between */

.in-between_Second-1_Second-2 {
  color: #eda65a;
  background-color: rgba(237, 166, 90, 1);
}

.in-between_Second-2_Warm-Light {
  color: #f5de9f;
  background-color: rgba(245, 222, 159, 1);
}

.tint_Warm-Medium_1 {
  color: #829d99;
  background-color: rgba(130, 157, 153, 1);
}

.tint_Warm-Medium_2 {
  color: #c2c5b7;
  background-color: rgba(194, 197, 183, 1);
}
