/* General Button Font Styles */
.btn-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #f5f5f5;
  font-size: 1.05rem;
  letter-spacing: 0.25px;
}

/* Large Button Styles */
.btn-lg {
  height: 35px;
  width: 425px;
  background-color: #528082;
  border-radius: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.05rem;
  letter-spacing: 0.25px;
  border: none;
  cursor: pointer;
}

.btn-lg:hover {
  background-color: #3b4a4d;
}

.btn-lg-skinny {
  height: 30px;
  width: 425px;
  background-color: #528082;
  border-radius: 7.5px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 0.25px;
  border: none;
  cursor: pointer;
}

.btn-lg-skinny:hover {
  background-color: #3b4a4d;
}
/* Small Button Styles */
.btn-sm {
  height: 30px;
  width: 180px;
  background-color: #528082;
  border-radius: 7.5px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.25px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-sm:hover {
  background-color: #3b4a4d;
}

/* Standard Button Styles */
.btn-std {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.25px;
  color: #f5f5f5;
}

/* Facebook Sign-In Button */
.btn-fb-signin {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.865rem;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 35px;
  width: 425px;
  background-color: #4267b2;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-fb-signin:hover {
  background-color: #365899;
}

/* Apple Sign-In Button */
.apple-auth-btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.865rem;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 35px;
  width: 425px;
  background-color: #000;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.apple-icon {
  font-size: 1.25rem;
}
.apple-auth-btn:hover {
  background-color: #333333;
}

.reset-button {
  height: 30px;
  width: 130px;
  background-color: #f8da70;
  border-radius: 7.5px;
  color: #2c2d2d;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 0.825rem;
  /*text-transform: uppercase; use 0.715rem size */
  letter-spacing: 0.25px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button:hover {
  background-color: #db6443;
  color: #f5de9f;
}

.change-button {
  height: 30px;
  width: 35%;
  background-color: #528082;
  border-radius: 7.5px;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 0.825rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-button:hover {
  background-color: #f8da70;
  color: #db6443;
}
/* 

This is a usage that didn't work: 

.my-class {
  background-color: var(--tw-color-CS_Between-Sec-1_Sec-2);
  color: var(--tw-color-Neutral-White);
  }

initial tokens under 'tailwind.config.js'  
*/
