.comp-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-alt);
  padding: 5px 10px;
  border-bottom: 10px solid var(--main-accent-color-alt);
}

.comp-logo {
  width: auto;
  height: 5.25vh;
  max-width: 100%;
  object-fit: contain;
}

.comp-user-dropdown select {
  padding: 5px;
  font-size: 1rem;
}

@media (min-width:0em) and (max-width: 54em) {
  .comp-header {
    overflow-x: hidden;
  }
  .comp-logo {
    width: auto;
    height: 6.5vh;
    max-width: 100%;
    object-fit: contain;
  }

}
