.advanced-browse-blocks-total {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}


.shared-content-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advanced-browse-blocks-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(var(--col-count, 4), minmax(9.5rem, 1fr));
  gap: 2.05rem;
  justify-content: center;
  margin: 0 auto;
}

.advanced-browse-blocks-block {
  width: 100%;
  max-width: 10rem;
  height: auto;
  margin: 0 auto;
  color: var(--text-color-dropdown);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

.advanced-recipe-block-image {
  display: flex;
}

.advanced-recipe-block-thumbnail {
  width: 9.5rem;
  height: 8rem;
  border-radius: 0.25rem;
  object-fit: cover;
  margin-bottom: 0.65rem;
  border: 1.25px solid var(--minor-accent-color-2);
}



.advanced-block {
  margin-top: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-style: normal;
  font-size: 0.75rem;
  text-transform: uppercase;

}

.advanced-blocks-left-button,
.advanced-blocks-right-button {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.advanced-blocks-left-button-label,
.advanced-blocks-right-button-label {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--text-color);
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.advanced-blocks-left-button:disabled,
.advanced-blocks-right-button:disabled {
  opacity: 0;
  cursor: not-allowed;
}

.advanced-blocks-hide-label {
  display: none;
}

.advanced-browse-blocks-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}
