.browse-blocks-total {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.browse-blocks-subheading {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.04rem;
  text-align: center;
}

.shared-content-wrapper {
  max-width: 41.5rem;
  margin: 0 auto;
  width: 100%;
}

.browse-blocks-container {
  display: grid;
  grid-template-columns: repeat(5, 7.5rem);
  gap: 1rem;
  justify-content: center;
}

/* add bold */
.browse-blocks-block {
  background-color: var(--home-page-block);
  width: 7.5rem;
  height: 8.125rem;
  border-radius: 0.25rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;

}

.browse-blocks-block-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  letter-spacing: 0.02rem;
  padding-top: 0.175rem;
  padding-bottom: 0.175rem;
  font-style: normal;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 5;
  background-color: var(--home-page-block-alt);
  color: var(--text-color);

}

.browse-blocks-block-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

@media (min-width: 0em) and (max-width: 36em) {
.browse-blocks-container {
  grid-template-columns: repeat(3, 7.5rem);
}
}

@media (min-width: 36.063em) and (max-width: 54em) {
.browse-blocks-container {
  grid-template-columns: repeat(4, 7.5rem);
}
}

@media (min-width: 54.063em) and (max-width: 68em) {
.browse-blocks-container {
  grid-template-columns: repeat(5, 7.5rem);
}
}

@media (min-width: 68.063em) and (max-width: 80em) {
  /* Large: 1089-1280px */
}

@media (min-width: 80.063em) and (max-width: 93.75em) {
  /* Extra Large: 1281-1500px */
}

@media (min-width: 93.813em) {
  /* Extra Extra Large: 1501px+ */
}
  .home-page-footer {
    background-color: orange;
  }
