.recipe-block-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 8.75rem;
  height: 12rem;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  background-color: var(--recipe-block-bg);
  border: 0.5px solid var(--text-color-alt);
  border-radius: 0.125rem;
  cursor: pointer;
}

.recipe-block-image {
  display: flex;
}

.recipe-block-thumbnail {
  width: 100%;
  height: 6.25rem;
  border-radius: 0.125rem;
  object-fit: cover;
  margin-bottom: 0.75rem;
  margin-top: 0rem;
  border: 0.25px solid var(--minor-accent-color-2);
}

.recipe-block-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: clip;
  text-overflow: ellipsis;
}

.recipe-block-text {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  text-align: center;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: clip;
  text-overflow: ellipsis;
}

.recipe-block-text h3 {
  font-size: 0.75rem;
  color: var(--text-color);
  margin-bottom: 0.05rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  margin-bottom: 0.125rem;
}


.recipe-block-container.submit .recipe-block-text h3 {
  margin-top: 0.125rem;
  margin-bottom: 0.25rem;
}

.recipe-block-text p {
  font-size: 0.675rem;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 75;
  letter-spacing: 0.01rem;
  line-height: 1.2;
  margin: 0;
}

.recipe-block-container.submit .recipe-block-text p {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.recipe-block-text p .author,
.recipe-block-text p .author-username,
.recipe-block-text p .date {
  font-weight: 700;
}

.recipe-block-text p .author,
.recipe-block-text p .date {
  text-transform: capitalize;
}