.star-rating {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
}
.star-layout {
  visibility: hidden; 
  font-size: 0.88rem; 
  letter-spacing: 0.13rem;
  user-select: none;
}
.star-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  white-space: nowrap;
}

.star-background-bottom {
  color: var(--minor-accent-color-1);
  z-index: 0;
  font-size: 0.88rem; 

}

.star-background-top,
.star-overlay {
  z-index: 1;
  top: 1.2px;
  left: 1.65px;
  font-size: 0.67rem;
  letter-spacing: 0.225rem;
  color: var(--star-coloring);
  
}

.star-overlay {
  z-index: 2;
  overflow: hidden;
  color: var(--minor-accent-color-1);

}
.rating-number {
  margin-left: 0.5rem;
  width: 100%;
}