.top-rated-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  margin: 0.75rem 0rem;
  padding: 0.625rem;
  width: 26rem;
  height: 12rem;
}

.top-rated-recipe-sub-container {
  display: flex;
  flex-direction: row;
  border: none;
  width: 26rem;
  height: 10rem;
}

.top-rated-recipe-img {
  width: 6.5rem;
  height: 8rem;
  margin-right: 0.75rem;
  border: var(--minor-accent-color-1) solid 0.2rem;
  object-fit: cover;
  cursor: pointer;
}

.top-rated-recipe-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(26rem - 6.5rem - 0.75rem);
  height: 8rem;
  flex: 1;
}

.top-rated-recipe-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: var(--text-color);
  margin-top: -0.125rem;
}

.top-rated-recipe-user-rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  gap: 0.5rem;
  color: var(--text-color);
  font-size: 0.85rem;
  letter-spacing: 0.25px;
  flex-wrap: wrap;
}

.top-rated-user-rating-label {
  font-size: 0.75rem;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.5px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

.top-rated-recipe-description {
  font-size: 0.75rem;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.5px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-alt);
  margin: 0 0 0.75rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: clip;
}

.top-rated-recipe-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

