.trending-recipe-container {
  display: flex;
  border: none;
  margin: 0.5rem;
  margin-top: 1.5rem;
  padding: 0.625rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(242, 226, 206, 0.15);
  width: 28rem;
  height: 8rem;
}

.trending-recipe-img {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
  border: #528082 solid 0.2rem;
  object-fit: cover;
}

.trending-recipe-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.recipe-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
  color: #3b4a4d;
}

.trending-recipe-user-rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  gap: 0.5rem;
  color: #444;
  font-size: 0.85rem;
  flex-wrap: wrap;
}

.user-rating-label {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #3b4a4d;
}

.recipe-description {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #555;
  margin: 0 0 0.75rem;
  line-height: 1.2;
}

.trending-recipe-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.recipe-tag {
  padding: 0.25rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-variation-settings: "wdth" 75;
  font-size: 0.65rem;
  background-color: #f8da70;
  border: #db6443 solid 1px;
  color: #333;
  text-transform: uppercase;
}
